<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gawilive.main">

    <application
            android:allowBackup="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.gawilive.main.activity.LoginInvalidActivity"
                android:theme="@style/dialog2"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.LoginActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.UserHomeActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.SettingActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.SearchActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FollowActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FansActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.EditProfileActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.EditSexActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.EditNameActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.EditSignActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyImpressActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyCoinActivity"
                android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="com.gawilive.phonelive"
                        android:pathPrefix="/open"
                        android:scheme="android"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.gawilive.main.activity.MyVideoActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyProfitActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.CashActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.LiveClassActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ModifyPwdActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.RegisterActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FindPwdActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.RecommendActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ThreeDistributActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
                android:name="com.gawilive.main.activity.ActivePubActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyActiveActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveVideoPlayActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveReportActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveDetailActivity"
                android:screenOrientation="portrait"
            android:exported="false"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveVideoRecordActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.CancelAccountActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.CancelConditionActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.RankActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MallClassActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MallSearchActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.DailyTaskActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveAllTopicActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveChooseTopicActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveTopicActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ActiveSearchTopicActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.LiveRecommendActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ChooseCountryActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.AuthActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FamilyApplyActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.LiveVoiceRoomListActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FamilyActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.GoodsShareFriendActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
                android:name="com.gawilive.main.activity.LiveFollowActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.AllLiveClassActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
                android:name="com.gawilive.main.activity.TeenagerTipActivity"
                android:theme="@style/dialog"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.TeenagerPwdActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.TeenagerModifyPwdActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.TeenagerActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PayPassActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyTransferActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.UserListActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyRechargeActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PaymentCodeActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.AddBankActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyWithdrawalActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MyBankListActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.MoneyInputActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.RealNameActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PaySuccessActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.BigImageActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.CollectionActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.ScanMyTransferActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.FinancialRecordsActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.TransferSuccessfulActivity"
                android:exported="true"
                android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.TransferSuccess"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gawilive.main.activity.DrawALotteryOrRaffleActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
                android:name="com.gawilive.main.activity.LotteryRecordActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PrizeDetailsActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PaymentRecordsActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name="com.gawilive.main.activity.PrizeListActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name=".activity.CreditConversionActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name=".activity.RedSourceActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name=".activity.GreenSourceActivity"
                android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
                android:name=".activity.RuleActivity"
                android:screenOrientation="portrait"
            android:exported="false"
                />

    </application>
</manifest>
